# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
dist-ssr/

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
